<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/main.html}" layout:fragment="site_content">
 <!--   <div>-->
    <div class="row mt-5">
        <div class="col-sm-6 offset-3">
            <h1>Change</h1>
            <form th:action="@{'/editPhone/'+${phone.getId()}}" th:object="${phone}" method="post">
                <div class="form-group mt-3">
                    <label>Name : </label>
                    <input type="text" name="phone_name" class="form-control" th:value="${phone.getName()}">
                </div>
                <div class="form-group mt-3">
                    <label>Price : </label>
                    <input type="number" name="phone_price" class="form-control" th:value="${phone.getPrice()}">
                </div>
                <div class="form-group mt-3">
                    <label>Amount : </label>
                    <input type="number" name="phone_amount" class="form-control" th:value="*{getAmount()}">
                </div>
                <div class="form-group mt-3     ">
                    <button class="btn btn-success">UPDATE</button>
                </div>
            </form>
        </div>
    </div>
    <!--</div>-->
</div>