<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<body>
    <div layout:fragment="site_content">
        <div class="row mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{table.col.name}"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="it : ${items}">
                        <th scope="row" th:text="${it.id}">0</th>
                        <td th:text="${it.getName()}">...</td>
                        <td th:text="${it.getPrice()} + ' KZT'">...</td>
                        <td th:text="${it.getAmount()}">...</td>
                        <td>
                            <a th:href="@{'/edit/' + ${it.id}}" class="btn btn-info btn-sm" th:text="#{button.edit}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>